@use "../../mixins" as *;
@use "../../variables" as *;

.sponsors-section {
  text-align: center;
  margin-bottom: 50px;
  @include responsive(lg) {
    margin-bottom: 75px;
  }
  .sponsors-title {
    margin-bottom: 59px;
    font-weight: 400;
  }

  .sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    @include responsive(lg) {
      max-width: 70%;
    }
    margin: 0 auto;

    img {
      width: 125px;
      height: 125px;
      // object-fit: contain;
    }
  }
}
