@use "../mixins" as *;
@use "../variables" as *;

.button-shape {
  display: inline-block;
  padding: 15px 30px;
  font-weight: 500;
  text-transform: uppercase;
  transition: $transition;
  cursor: pointer;
  font-size: 11.17px;
}

.button-shape-primary {
  background: $primary-color;
  color: $white-color;

  &:hover {
    // background: $black-color;
    background: $secondary-color;

    color: $white-color;
  }
}

.button-shape-dark {
  background: transparent;
  color: $black-color;
  border: 1px solid $black-color;
  &:hover {
    // background: $primary-color;
    background: $secondary-color;
    border-color: $secondary-color;

    // border-color: $primary-color;

    color: $white-color;
  }
}
