@use "../../mixins" as *;
@use "../../variables" as *;

.footer {
  background-color: $secondary-color;
  color: $white-color;
  padding-top: 63px;
  min-height: 346px;

  &__contents {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    gap: 40px;

    @include responsive(md) {
      grid-template-columns: 2fr 2.8fr;
      gap: 25px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;

    .footer__logo {
      @include white-filter;
      width: 300px;
        height: auto;
      @include responsive(xl) {
        width: 350px;
        height: 100px;
        object-fit: contain;
      }
    }

    .footer__email {
      @include responsive(lg) {
        font-size: 18.75px;
      }
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &__icon {
        object-fit: contain;
        width: 16px;
        height: 16px;
        @include responsive(lg) {
          width: 20px;
          height: 20px;
        }
      }

      font-size: 14px;

      @include responsive(md) {
        font-size: 16px;
      }
    }
  }

  &__lists {
    width: 100%;
    list-style: none;
    padding: 0;
    display: grid;
    padding-top: 1rem;

    place-items: start;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include responsive(sm) {
      gap: 0;

      grid-template-columns: repeat(3, 1fr);
    }

    li {
      margin-bottom: 20px;

      @include responsive(lg) {
        margin-bottom: 35px;

        // margin-bottom: 49px;

        &:nth-child(7),
        &:nth-child(8) {
          margin-bottom: 0;
        }
      }
      a {
        color: $white-color;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }

        @include responsive(md) {
          font-size: 15px;
        }

        @include responsive(lg) {
          font-size: 16.67px;
        }
      }
    }
  }

  &__bottom {
    padding-top: 73px;
    text-align: center;
    font-size: 16.67px;
    padding-bottom: 40px;

    @include responsive(sm) {
      font-size: normal;
    }
  }
}
