@use "../../mixins" as *;
@use "../../variables" as *;

.conference-section {
  padding: 50px 0;

  @include responsive(lg) {
    padding: 70px 0;
  }
  background-color: $primary-color;
  color: $white-color;
  &__title {
    margin-bottom: 1.2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    @include responsive(lg) {
      grid-template-columns: 1.2fr 1fr;
      gap: 4rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    flex: 1;

    li {
      position: relative;
      padding-left: 1.5rem;
      line-height: 1.5;
      margin-bottom: 0.4rem;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 12px;
      @include responsive(md) {
        font-size: 14px;
      }
      @include responsive(lg) {
        font-size: 16.67px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.37rem;
        width: 0.5rem;
        height: 0.5rem;
        background: url("../images/Triangle.png?v=3") no-repeat center;
        background-size: contain;
      }
    }
  }

  &__item {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
}
